<h1><%= t('consents.personal_information') %></h1>

<div class="row">
  <div class="span9 offset2">
<%= form_for(@user, :html => { :id => 'user_form' }) do |f| %>
  <table class="table table-striped">
    <tbody>
    <tr>
      <td><%= f.label :gender, t('consents.your_gender') %> </td>
      <td><span class="justfy"><%= f.label :male, t('consents.male') %></span></td>
      <td><%= f.radio_button :gender, 'male' %></td>
      <td><span class="justfy"><%= f.label :female, t('consents.female') %></span>
      <td><%= f.radio_button :gender, 'female' %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <tr>
    <td><%= f.label :age, t('consents.age_category') %></td> 
    <td><span class="justfy"><%= f.label '18 - 35'.to_sym %></span></td>
    <td><%= f.radio_button :age, '18-35' %></td>
    <td><span class="justfy"><%= f.label '36 - 70'.to_sym %></span></td>
    <td><%= f.radio_button :age, '36-70' %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :age, t('consents.where_you_live') %></td> 
    <td><span class="justfy"><%= f.label 'North America'.to_sym, t('consents.north_america') %></span></td>
    <td><%= f.radio_button :region, 'North America' %></td>
    <td><span class="justfy"><%= f.label 'South America'.to_sym, t('consents.south_america') %></span></td>
    <td><%= f.radio_button :region, 'South America' %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td><%= f.label :occupation, t('consents.type_of_work') %></td>
    <td><span class="justfy"><%= f.label 'resource company'.to_sym, t('consents.resource_company') %></span></td>
    <td><%= f.radio_button :occupation, 'resource company' %></td>
    <td><span class="justfy"><%= f.label :government, t('consents.government') %></span></td>
    <td><%= f.radio_button :occupation, 'government' %></td>
    <td><span class="justfy"><%= f.label :ngo, t('consents.ngo') %></span></td>
    <td><%= f.radio_button :occupation, 'ngo' %></td>
    <td><span class="justfy"><%= f.label :other, t('consents.other') %></span></td>
    <td><%= f.radio_button :occupation, 'Other' %></td>
  </tr>

  <tr>
    <td><%= f.label :population, t('consents.population') %></td> 
    <td><span class="justfy"><%= f.label '<20,000'.to_sym %></span></td>
    <td><%= f.radio_button :population, '<20000' %></td>
    <td><span class="justfy"><%= f.label '20000_to_500000'.to_sym, '20,000 - 500,000' %></span></td>
    <td><%= f.radio_button :population, '20000 to 500000' %></td>
    <td><span><%= f.label :over_500000, 'Over 500,000' %></span></td>
    <td><%= f.radio_button :population, 'Over 500000' %></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

    <div class=center hero-unit>
      <%= f.submit t('general.continue_btn'), class: "btn btn-large btn-primary" %> 
    </div>

  </div>
</div>
<% end %>
